.jumbotron{                         /* to style the title*/    
    border: ridge 10px #bc67be;    
    text-align: center;
    color: #bc67be;
    margin-top: 2%;
    margin-left: 20%;
    margin-right:20%;  
    margin-bottom: 0;  
    padding: 15px;
    font-family: 'Spicy Rice', cursive;   
}

body {                              /* to style the body with back ground image*/
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    font-weight: bold;
    background-image: url("../images/crystals.png");
    background-repeat:no-repeat;
    background-size:cover;    
}

.row{                               /* to style the rows for content*/
    background-color: white;
    text-align: center;
    margin-top: 0;
    margin-left: 20%;
    margin-right:20%;
    margin-bottom: 0;
    padding: 15px;
    border: solid 3px #bc67be;
}

.col-md-6{                         /* font size for score row */
    font-size: 25px;    
}

img{                              /* style for crystal images */
    height: 100px;
    width: auto;
    transition: all 5s ease-in-out;    
} 

img:hover{                        /* crystal hover style */
    transform: rotate(360deg);  
}

.col-md-3 {                      /* crystal row */
    margin-top: 4px;
    margin-bottom: 4px;
}

button {                        /* crystal style */
    display: inline-block;
    border: none;   
    background: #fff;
    color: #fff;  
}

button:focus {                 /* crystal style */
    outline: 1px solid #fff;   
}

button:active {                /* crystal click */
    transform: scale(0.75);
}

#endScreen{                    /* for end screen styles */
    position: absolute;
    z-index: 101;
    width: 500px;
    height: 400px;
    background-color: rgba(181,22,186,0.7);
    margin-left: 300px;    
}

#endScreenContent{             /* end screen content style */
    width: 400px;
    height: 200px;
    padding: 20px;    
    margin: 60px;
    text-align: center;
}

#endScreen h2{                /* end screen top text */
    color: white;
    font-size: 28px;
}

#endScreen h3{                 /* end screen bottom text */
    color: white;
    font-size: 22px;
}

#btnReplay{                    /* replay button styles */
    display: inline-block;
    border: none;       
    background-color: #791099;  
    color: white;
}
